In [4]:
import geopandas as gp
import geohash
import pandas as pd
import numpy as np
import fiona
import json
import shapely
import shapely.geometry
from osgeo import ogr
import requests
import psycopg2
from sqlalchemy import create_engine
import psycopg2
from sqlalchemy import create_engine

In [11]:
selangor_poi = gp.GeoDataFrame.from_file('D:\Datasets\GeoSpatial\selangor_data/selangor_poi.shp')
selangor_poi.head()

,osm_id,code,fclass,name,GID_0,NAME_0,GID_1,NAME_1,VARNAME_1,NL_NAME_1,TYPE_1,ENGTYPE_1,CC_1,HASC_1,geometry
0,19206023,2501,supermarket,Giant,MYS,Malaysia,MYS.15_1,Selangor,Selangor Darul Ehsan,None,Negeri,State,None,MY.SL,"POLYGON ((101.51661 3.04433, 101.51697 3.04445..."
1,19206050,2501,supermarket,Mydin,MYS,Malaysia,MYS.15_1,Selangor,Selangor Darul Ehsan,None,Negeri,State,None,MY.SL,"POLYGON ((101.51561 3.04517, 101.51576 3.04548..."
2,19207507,2501,supermarket,Tesco Extra,MYS,Malaysia,MYS.15_1,Selangor,Selangor Darul Ehsan,None,Negeri,State,None,MY.SL,"POLYGON ((101.54991 3.07746, 101.55124 3.07781..."
3,19207509,2256,stadium,Stadium Malawati,MYS,Malaysia,MYS.15_1,Selangor,Selangor Darul Ehsan,None,Negeri,State,None,MY.SL,"POLYGON ((101.54664 3.07990, 101.54664 3.08028..."
4,19207529,2256,stadium,Stadium Shah Alam,MYS,Malaysia,MYS.15_1,Selangor,Selangor Darul Ehsan,None,Negeri,State,None,MY.SL,"POLYGON ((101.54516 3.08373, 101.54523 3.08379..."

In [12]:
## Getting the centroid coordinates for lat lon

selangor_poi['lat'] = selangor_poi['geometry'].centroid.y
selangor_poi['lon'] = selangor_poi['geometry'].centroid.x

In [13]:
selangor_poi.head()

,osm_id,code,fclass,name,GID_0,NAME_0,GID_1,NAME_1,VARNAME_1,NL_NAME_1,TYPE_1,ENGTYPE_1,CC_1,HASC_1,geometry,lat,lon
0,19206023,2501,supermarket,Giant,MYS,Malaysia,MYS.15_1,Selangor,Selangor Darul Ehsan,None,Negeri,State,None,MY.SL,"POLYGON ((101.51661 3.04433, 101.51697 3.04445...",3.044194,101.516851
1,19206050,2501,supermarket,Mydin,MYS,Malaysia,MYS.15_1,Selangor,Selangor Darul Ehsan,None,Negeri,State,None,MY.SL,"POLYGON ((101.51561 3.04517, 101.51576 3.04548...",3.045091,101.515754
2,19207507,2501,supermarket,Tesco Extra,MYS,Malaysia,MYS.15_1,Selangor,Selangor Darul Ehsan,None,Negeri,State,None,MY.SL,"POLYGON ((101.54991 3.07746, 101.55124 3.07781...",3.077160,101.550705
3,19207509,2256,stadium,Stadium Malawati,MYS,Malaysia,MYS.15_1,Selangor,Selangor Darul Ehsan,None,Negeri,State,None,MY.SL,"POLYGON ((101.54664 3.07990, 101.54664 3.08028...",3.080081,101.547192
4,19207529,2256,stadium,Stadium Shah Alam,MYS,Malaysia,MYS.15_1,Selangor,Selangor Darul Ehsan,None,Negeri,State,None,MY.SL,"POLYGON ((101.54516 3.08373, 101.54523 3.08379...",3.082196,101.545894

In [14]:
selangor_poi.to_csv('D:\Datasets\GeoSpatial\selangor_data/selangor_poi.csv', index=False)